<style>
        .loading-stick {
            height: 4px;
            background-color: #87CEEB;
            animation: loading 1s infinite linear;
            width: 100%;
        }
</style>
<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="d-flex">
        <div class="flex-grow-1">
            <!-- Dashboard Info Boxes -->
            <div class="container mt-4">
                <div class="row">
                    <!-- Total Borrowers -->
                    <div class="col-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fas fa-users"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Total Borrowers</span><br/>
                                <span class="info-box-number" id="borrowers-data"></span>
                                <div class="loading-stick" id="borrowers-loading"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Total Loans Released -->
                    <div class="col-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue"><i class="fas fa-dollar-sign"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Total Loans Released</span><br/>
                                <span class="info-box-number" id="loans-data"></span>
                                <div class="loading-stick" id="loans-loading"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Total Collection -->
                    <div class="col-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-silver"><i class="fas fa-coins"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Total Collection</span><br/>
                                <span class="info-box-number" id="collection-data"></span>
                                <div class="loading-stick" id="collection-loading"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Outstanding Open Loans -->
                    <div class="col-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fas fa-money-check-alt"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Outstanding Loans</span><br/>
                                <span class="info-box-number" id="outstanding-data"></span>
                                <div class="loading-stick" id="outstanding-loading"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Open Loans -->
                    <div class="col-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue"><i class="fas fa-folder-open"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Open Loans</span><br/>
                                <span class="info-box-number" id="openloans-data"></span>
                                <div class="loading-stick" id="openloans-loading"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Closed Loans -->
                    <div class="col-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-silver"><i class="fas fa-folder"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Closed Loans</span><br/>
                                <span class="info-box-number" id="closedloans-data"></span>
                                <div class="loading-stick" id="closedloans-loading"></div>
                            </div>
                        </div>
                    </div>

                      <!-- Pending Loans -->
                    <div class="col-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-green"><i class="fas fa-hourglass-half"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Pending Loans</span><br/>
                                <span class="info-box-number" id="pendingloans-data"></span>
                                <div class="loading-stick" id="pendingloans-loading"></div>
                            </div>
                        </div>
                    </div>

                                        <!-- Savings Deposited -->
                    <div class="col-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-blue"><i class="fas fa-piggy-bank"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Savings Deposited</span><br/>
                                <span class="info-box-number" id="savingsdeposited-data"></span>
                                <div class="loading-stick" id="savingsdeposited-loading"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Savings Withdrawn -->
                    <div class="col-3">
                        <div class="info-box">
                            <span class="info-box-icon bg-silver"><i class="fas fa-piggy-bank"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">Savings Withdrawn</span><br/>
                                <span class="info-box-number" id="savingswithdrawn-data"></span>
                                <div class="loading-stick" id="savingswithdrawn-loading"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Include Tabler JS -->
{{>bottomlinks}}
<script src="/js/dashboard.js"></script>
